.content-date{
    justify-content: end;
    display: flex;
    margin: 10px 0px;
    background: #FAFAFA;
    padding: 16px;
    border-top: 1px solid #DDDFD0;    .date{
        width: 20%;
    }   
}