
.content-valuator{
    padding-top: 100px;
    .title-valuator{
        .title{
            font-weight: 700;
            font-size: 35px;
            line-height: 40px;
            letter-spacing: 0%;
        }
        .decrip{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
        }
    }
    
    .option{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}
